.button {
    color: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
}

.button:active {
    transform: scale(0.98);
}

.button:hover {
    cursor: pointer;
}

.primary {
    border: 0;
    background-color: #2bd17e;
}

.secondary {
    border: 1px solid #fff;
    background-color: #093545;
}